@import '/src/sass/variables';

.landing-container {
    background-color: #f4f4f4;

    .landing__main {
        padding-top: 5.5rem;


        .landing__head__news {
            margin-bottom: 2rem;
            font-family: $head;
            font-size: 2rem;
        }
    }

    .landing__head {
        display: flex;
        justify-content: center;
    }

    .landing__content {
        padding: 0rem 5rem;
        display: flex;
        gap: 2rem;

        img {
            width: 100%;
            height: 14rem;
            object-fit: cover;
        }
    }

    .landing__content__text {
        display: flex;
        flex-direction: column;

        p {
            font-weight: 500;
            line-height: 1.5rem;
            color: #000;
        }


    }

    .landing__content__readmore {
        margin-top: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(35, 208, 205);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .news__grant__container {
        padding: 0rem 5rem;

        .news__container {
            margin-top: 5rem;
            gap: 1rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 2rem 0rem;
            border-top: 2px solid #b7b7b7;
            padding-bottom: 4rem;
        }

        .news__items__latest {
            border-bottom: 2px solid #b7b7b7;
            padding-bottom: 0.5rem;
            cursor: pointer;
            text-decoration: none;
            color: #000;

            &:hover {
                color: #00b8d4;
            }
            .news__items__head:hover{
                color: #00b8d4;
            }
        }

        .news__items__fix {
            height: 100%;
        }

        .news__items__latest__noborder {
            border-bottom: none;
        }

        .layout__image {
            width: 100%;
            width: 100%;
            aspect-ratio: 3/1;
            object-fit: cover;
            height: 100%;
        }

        .trending__image__content {
            display: flex;
            gap: 1rem;
            padding-bottom: 0.5rem;

            &:hover {
                color: #00b8d4;
            }
        
        }

        .trending__image {
            width: 6rem;
            height: 100%;
            object-fit: contain;
        }

        .news__items__head {
            font-weight: 600;
        }

        .explore-container {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .news__item__container {
            height: 100%;
        }

        .explore__button {
            margin-top: 0.5rem;
            padding: 0.8rem;
            background-color: #00b8d4;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #b7b7b7;
            font-weight: 600;
            cursor: pointer;
        }
    }
}